*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/

# Keystores & signing keys
*.jks
*.keystore
*.p12

# Service account & credentials
service_account.json
service-account*.json
*-service-account.json
